<div
  class="pensamento {{ thought.model }} ff-roboto-mono "
  [ngClass]="widthThought()"
>
  <img src="/assets/imagens/{{ thought.model }}.png" alt="Aspas Colors" />
  <p class="conteudo">{{ thought.content }}</p>
  <p class="autoria">
    <b>{{ thought.author }}</b>
  </p>
  <div class="acoes">
    <button class="botao-editar" routerLink="/thoughts/edit/{{ thought.id }}">
      <img src="/assets/imagens/icone-editar.png" alt="Edit Button" />
    </button>
    <button
      class="botao-excluir"
      routerLink="/thoughts/delete/{{ thought.id }}"
    >
      <img src="/assets/imagens/icone-excluir.png" alt="Delete Button" />
    </button>
    <button class="botao-favorito" (click)="changeFavorite()">
      <img
        src="/assets/imagens/icone-favorito-ativo.png"
        *ngIf="thought.favorite"
        alt="Delete Button"
      />
      <img
        src="/assets/imagens/icone-favorito-inativo.png"
        *ngIf="!thought.favorite"
        alt="Delete Button"
      />
    </button>
  </div>
</div>
