<section class="container">
  <header class="header d-flex">
    <div class="buscar-pensamentos">
      <input
        type="search"
        class="filtro"
        placeholder="O que você procura?"
        autofocus
        [(ngModel)]="search"
        (keyup)="searchThoughts()"
      />
      <img src="/assets/imagens/lupa.png" alt="lupa" />
    </div>
    <h2 class="ff-inter">{{ title }}</h2>
    <div class="botoes">
      <button
        class="botao"
        (click)="reloadComponent()"
        routerLink="/list-thoughts"
      >
        Meu Mural
      </button>
      <button class="botao" (click)="listFavorites()">Meus Favoritos</button>
      <button routerLink="/create-thought" class="botao">
        Novo pensamento
      </button>
    </div>
  </header>
  <div class="mural" *ngIf="thoughtsList.length > 0">
    <div *ngFor="let thought of thoughtsList">
      <app-thought
        [thought]="thought"
        [favoriteList]="favoriteList"
      ></app-thought>
    </div>
  </div>
</section>
<app-button-load-more
  [existMoreThoughts]="existMoreThoughts"
  (click)="loadMoreThoughts()"
></app-button-load-more>
