<section class="container criar-pensamentos ff-inter">
  <header class="header">
    <h2>Adicione um <br />pensamento novo:</h2>
  </header>
  <form [formGroup]="form">
    <label for="pensamento">Pensamento:</label>
    <input
      type="textarea"
      class="input"
      formControlName="content"
      id="pensamento"
      name="pensamento"
      placeholder="Digite seu pensamento"
    />
    <div
      class="mensagem__erro"
      *ngIf="form.get('content')?.touched && form.get('content')?.errors"
    >
      Pensamento é obrigatório!
    </div>
    <label for="autoria">Autoria ou fonte:</label>
    <input
      type="textarea"
      formControlName="author"
      class="input"
      id="autoria"
      name="autoria"
      placeholder="Digite a autoria ou fonte"
    />
    <div
      class="mensagem__erro"
      *ngIf="form.get('author')?.touched && form.get('author')?.errors?.['required']"
    >
      Autoria é obrigatório!
    </div>
    <div
      class="mensagem__erro"
      *ngIf="form.get('author')?.touched && form.get('author')?.errors?.['minlength']"
    >
      Precisa ter no minimo 3 caracteres!
    </div>
    <label for="modelo">Selecione o modelo do card:</label>
    <div class="container-radio">
      <div class="radio-modelo">
        <label for="modelo1">
          <input
            type="radio"
            id="modelo1"
            formControlName="model"
            value="modelo1"
            name="model"
          />
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 1</span>
        </label>
        Prévia:
        <div class="modelo modelo1 ff-roboto-mono">
          <img src="../../../../assets/imagens/modelo1.png" alt="Aspas azuis" />
          <p class="conteudo">
            {{ form.get("content")?.value }}
          </p>
          <p class="autoria">
            <b>{{ form.get("author")?.value }}</b>
          </p>
        </div>
      </div>
      <div class="radio-modelo">
        <label for="modelo2">
          <input
            type="radio"
            id="modelo2"
            formControlName="model"
            value="modelo2"
            name="model"
          />
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 2</span>
        </label>
        Prévia:
        <div class="modelo modelo2 ff-roboto-mono">
          <img src="../../../../assets/imagens/modelo2.png" alt="Aspas azuis" />
          <p class="conteudo">
            {{ form.get("content")?.value }}
          </p>
          <p class="autoria">
            <b>{{ form.get("author")?.value }}</b>
          </p>
        </div>
      </div>
      <div class="radio-modelo">
        <label for="modelo3">
          <input
            type="radio"
            id="modelo3"
            formControlName="model"
            value="modelo3"
            name="model"
          />
          <div class="custom-radio">
            <span></span>
          </div>
          <span>Modelo 3</span>
        </label>
        Prévia:
        <div class="modelo modelo3 ff-roboto-mono">
          <img src="../../../../assets/imagens/modelo3.png" alt="Aspas azuis" />
          <p class="conteudo">
            {{ form.get("content")?.value }}
          </p>
          <p class="autoria">
            <b>{{ form.get("author")?.value }}</b>
          </p>
        </div>
      </div>
      <div class="acoes">
        <button
          [ngClass]="disableButton()"
          [disabled]="!form.valid"
          (click)="submitForm()"
        >
          Salvar
        </button>
        <button routerLink="/" class="botao">Cancelar</button>
      </div>
    </div>
  </form>
</section>
